In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
"D:/pythonprojects/VariablesWeightPipik"
filename_ = "Peningk Produktivitas, Efisiens.xlsx"
path_laptop = "C:/Users/pc/Documents/pythonProjects/VariablesWeightPipik-main/"
dataframe = pd.read_excel(path_laptop + filename_)
# dependent = pd.read_excel(r"D:/pythonprojects/VariablesWeightPipik/dependent.xlsx")
# independent = pd.read_excel(r"D:/pythonprojects/VariablesWeightPipik/independent.xlsx")

# dataframe = dataframe.drop('Unnamed: 7',axis = 1)
# dataframe = dataframe.drop('Unnamed: 8',axis = 1)
print(dataframe.isna().sum()) #50
dataframe = dataframe.dropna()
#dataframe.fillna(dataframe.mean(numeric_only=True),inplace=True)

print(len(dataframe))
print(dataframe.isna().sum())
dataframe

No                                                 0
Provinsi                                           0
Kota/Kabupaten                                     0
Selisih Produktivitas Sktor Perkotaan (Rp/Ha)     28
Efisiensi Penduduk (Penamb 1 Ha>Penamb Jiwa)      31
Efsiensi Ekonomi (Penambahan 1 Ha>Penamb Juta)    14
dtype: int64
478
No                                                0
Provinsi                                          0
Kota/Kabupaten                                    0
Selisih Produktivitas Sktor Perkotaan (Rp/Ha)     0
Efisiensi Penduduk (Penamb 1 Ha>Penamb Jiwa)      0
Efsiensi Ekonomi (Penambahan 1 Ha>Penamb Juta)    0
dtype: int64

,No,Provinsi,Kota/Kabupaten,Selisih Produktivitas Sktor Perkotaan (Rp/Ha),Efisiensi Penduduk (Penamb 1 Ha>Penamb Jiwa),Efsiensi Ekonomi (Penambahan 1 Ha>Penamb Juta)
0,1,PROVINSI JAWA TENGAH,Cilacap,-4257.069468,12.485908,770.078362
1,2,PROVINSI JAWA TENGAH,Banyumas,-477.928505,13.871314,932.804393
2,3,PROVINSI JAWA TENGAH,Purbalingga,-1011.715732,15.441474,765.204199
3,4,PROVINSI JAWA TENGAH,Banjarnegara,-678.773717,21.380952,983.936787
4,5,PROVINSI JAWA TENGAH,Kebumen,-637.343199,9.524475,483.695898
...,...,...,...,...,...,...
509,510,PROVINSI NUSA TENGGARA BARAT,Bima,-7120.921404,106.557920,3622.516548
510,511,PROVINSI NUSA TENGGARA BARAT,Sumbawa Barat,-9060.486101,65.843137,2423.627745
511,512,PROVINSI NUSA TENGGARA BARAT,Lombok Utara,-5126.169394,61.606897,1217.724253
512,513,PROVINSI NUSA TENGGARA BARAT,Kota Mataram,614.653155,31.391101,5611.773747
513,514,PROVINSI NUSA TENGGARA BARAT,Kota Bima,384.475940,86.924000,3662.280000

In [5]:
start_indexing_dependent_var = 4#:(x) banyak independent variabel 
start_indexing_independent_var = 3 #(x)

n_row = len(dataframe)  #banyak per kolom (banyak baris)

x  = dataframe.iloc[:,start_indexing_dependent_var]
y  = dataframe.iloc[:,start_indexing_independent_var]

df = pd.DataFrame({"X":x, "Y" : y})
df

               X            Y
0     770.078362 -4257.069468
1     932.804393  -477.928505
2     765.204199 -1011.715732
3     983.936787  -678.773717
4     483.695898  -637.343199
..           ...          ...
509  3622.516548 -7120.921404
510  2423.627745 -9060.486101
511  1217.724253 -5126.169394
512  5611.773747   614.653155
513  3662.280000   384.475940

[478 rows x 2 columns]

In [6]:
df["rank_x"] = df["X"].rank()
# print(df["rank_x"].min())
# print(df["rank_x"].max())
df["rank_y"] = df["Y"].rank()

df.head(5)
df = df.sort_values(by="rank_x")
df

                X             Y  rank_x  rank_y
158 -6.951362e+04 -85839.743056     1.0     5.0
287 -3.445739e+04 -16518.765589     2.0    23.0
218 -1.556422e+04   4903.029630     3.0   468.0
67  -1.536755e+04  -1741.801125     4.0   148.0
215 -4.357562e+03  -5634.106458     5.0    60.0
..            ...           ...     ...     ...
112  2.682647e+05  13055.996671   474.0   476.0
64   2.820651e+05   9149.475136   475.0   472.0
171  2.881644e+05   3970.638207   476.0   463.0
110  7.634668e+05   9074.239278   477.0   471.0
109  1.873983e+06  15175.727138   478.0   477.0

[478 rows x 4 columns]

In [7]:
n = len(df)

sum_term  =df['rank_y'].diff().abs().sum()

coefficient = (1 - 3* sum_term/ (pow(n,2) - 1))
print("Sum term :" + str(sum_term))
print(coefficient)

Sum term :56552.0
0.25746773282913826