In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [8]:
df_independent = pd.read_excel(r"D:/Programming/PythonProjects/independent.xlsx")
df_dependent = pd.read_excel(r"D:/Programming/PythonProjects/dependent.xlsx")

In [9]:
df_independent = df_independent[2:]
df_independent = df_independent.drop('Unnamed: 6',axis = 1)
df_independent = df_independent.drop('Unnamed: 8',axis = 1)
df_independent = df_independent.drop('Unnamed: 36',axis = 1)
df_independent = df_independent.drop('Unnamed: 30',axis = 1)
df_independent = df_independent.drop('Unnamed: 10',axis = 1)
df_independent = df_independent.drop('Unnamed: 13',axis = 1)
df_independent = df_independent.drop('Unnamed: 18',axis = 1)
dataframe_independent = df_independent

In [10]:
dataframe_independent

,No,Sub-Districts,Districts,Area (square m),Built-Up Area (square) in Percentage (%),Population,Gross Population Density,Nett Population Density,Distance to Main Urban Center,GDP per Capita,...,Health Facility Units per Population,Ratio of Population to Labor Force(Rasio Penduduk Terkena Covid),Population of the Labor Force,Gross Economy Facility Density,Nett Economy Facility Density,Economy Facility Unit per Population(Unit Sarana Ekonomi per Penduduk),Labor Force Ratio (Non Primary /Primary),Number of Tourist Visitors,Number of Tourism Destination Units,Number of Shopping Center(Jumlah Mall)
2,1.0,BAMBANGLIPURO,Bantul,22.69,7.71,38517.00,1698.00,22009.714286,20.8,"14,178,168.62",...,0.00000,0.0000,18933.0,0.0935,0.053429,0.00006,0.3155,0.0,1.0,0.0
3,2.0,BANGUNTAPAN,Bantul,28.48,14.50,142.62,5008.00,34532.687651,7.5,"16,577,999.67",...,0.00000,0.0000,20343.0,0.0161,0.003898,0.00000,0.4294,46066.0,0.0,0.0
4,3.0,BANTUL,Bantul,21.96,7.74,63183.00,2877.00,37166.470588,13.4,"17,296,760.79",...,0.00000,0.0000,14177.0,0.0265,0.015588,0.00001,0.3987,604849.0,1.0,0.0
5,4.0,DLINGO,Bantul,55.87,2.17,36808.00,659.00,30419.834711,27.8,"10,824,463.84",...,0.00000,0.0006,24878.0,0.0225,0.018595,0.00003,0.9227,3253922.0,3.0,0.0
6,5.0,IMOGIRI,Bantul,54.49,4.39,58751.00,1078.00,24582.008368,17.4,"14,575,969.83",...,0.00000,0.0027,33864.0,0.0024,0.001004,0.00000,17.8690,48060.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,74.0,PRAMBANAN,Sleman,41.35,23.16,48395.00,1.17,5054.413669,20.4,"29,527,623.29",...,0.00000,0.0934,26260.0,0.2270,0.023708,0.00019,15.7510,4568127.0,7.0,0.0
76,75.0,SEYEGAN,Sleman,26.63,33.15,46902.00,1761.00,5312.868147,15.0,"23,828,246.67",...,0.00000,0.2467,27052.0,0.1495,0.016935,0.00008,16.3720,8193.0,0.0,0.0
77,76.0,SLEMAN,Sleman,31.32,35.09,67201.00,2146.00,6113.961825,14.6,"17,999,612.78",...,0.00001,0.2505,27651.0,0.3115,0.028340,0.00015,24.5200,20059.0,1.0,1.0
78,77.0,TEMPEL,Sleman,32.49,30.61,50599.00,1557.00,5087.627570,18.7,"55,684,802.96",...,0.00000,0.3488,57788.0,13.0130,1.308431,0.00836,373.1570,0.0,0.0,0.0
79,78.0,TURI,Sleman,43.09,19.56,34233.00,794.00,4061.817750,22.0,"21,173,205.96",...,0.00001,0.6478,26022.0,0.0068,0.000807,0.00001,51.5040,111892.0,0.0,0.0

In [11]:
df_dependent

,No,Sub-Districts,Districts,Days to First Case (DFC),Case per 1000 (C1000) per 30 September 2020,Exponential Growth (G) per 10 December 2020,Exponential Growth per 1000 population (G1000) per 10 Desember 2020
0,1,Bambanglipuro,Bantul,29,0.78,0.14,1.71
1,2,Banguntapan,Bantul,29,0.86,0.21,2.30
2,3,Bantul,Bantul,18,0.55,0.14,1.92
3,4,Dlingo,Bantul,158,0.11,0.07,0.16
4,5,Imogiri,Bantul,108,0.48,0.15,1.14
...,...,...,...,...,...,...,...
73,74,Prambanan,Sleman,108,0.43,0.14,1.26
74,75,Seyegan,Sleman,78,1.07,0.18,3.45
75,76,Sleman,Sleman,78,0.68,0.18,4.10
76,77,Tempel,Sleman,78,0.99,0.15,2.84
77,78,Turi,Sleman,68,0.38,0.11,2.58

In [12]:
df_dependent.iloc[:,3]

0      29
1      29
2      18
3     158
4     108
     ...
73    108
74     78
75     78
76     78
77     68
Name: Days to First Case (DFC), Length: 78, dtype: int64

In [38]:
n = 78 
total_pembilang = 0
total_penyebut = 0
list_of_coefficient = np.zeros(shape=(4,29))
for j in range(4):
    for i in range(29):
        dataframe_independent_temp = 0
        dataframe_dependent_temp = 0
        dataframe_independent_temp = dataframe_independent.iloc[:,i + 3]
        x = dataframe_independent_temp.values
        dataframe_dependent_temp = df_dependent.iloc[:,j + 3]
        y = dataframe_dependent_temp.values
#         plt.scatter(x,y)
#         plt.savefig(str(j) + "_" + str(i))
        #syntax untuk ngesave foto fotonya plottingan
        df = pd.DataFrame({"X" : x, "Y" : y})
        df["rank_x"] = df["X"].rank()
        df["rank_y"] = df["Y"].rank()
        df["rank_y_invert"] = df["Y"].rank(method = "max",axis = 0)
        df = df.sort_values(by="rank_x")
#         total_pembilang = df['rank_y'].diff().abs().sum()
        for a in range(n-2):
            total_pembilang = total_pembilang + (df["rank_y"][a+1] - df["rank_y"][a])
        for e in range(n-1):
            total_penyebut = total_penyebut + df["rank_y_invert"][e] * (n - df["rank_y_invert"][e])
        total_pembilang = total_pembilang * n
        total_penyebut = total_penyebut * 2
        coefficient =  1 - ((total_pembilang) / total_penyebut )
        list_of_coefficient[j][i] = coefficient
print(total_pembilang)
print(total_penyebut)

8.470528020563347e+220
1.3290618422117406e+40

In [48]:
print(list_of_coefficient)
print(len(list_of_coefficient))
print(np.where(list_of_coefficient > 0, list_of_coefficient, 0))

[[ 9.86592074e-001  6.46924616e-001 -1.08047211e+001 -4.28692743e+002
  -1.62164362e+004 -6.22439647e+005 -2.40840410e+007 -9.35594197e+008
  -3.64167683e+010 -1.41886564e+012 -5.53087274e+013 -2.15651362e+015
  -8.40937633e+016 -3.27945658e+018 -1.27894903e+020 -4.98782512e+021
  -1.94523696e+023 -7.58639519e+024 -2.95868848e+026 -1.15388741e+028
  -4.50015874e+029 -1.75506149e+031 -6.84473900e+032 -2.66944805e+034
  -1.04108471e+036 -4.06023030e+037 -1.58348981e+039 -6.17561022e+040
  -2.40848798e+042]
 [-9.39310312e+043 -3.66331021e+045 -1.42869098e+047 -5.57189483e+048
  -2.17303899e+050 -8.47485204e+051 -3.30519230e+053 -1.28902500e+055
  -5.02719748e+056 -1.96060702e+058 -7.64636737e+059 -2.98208327e+061
  -1.16301248e+063 -4.53574866e+064 -1.76894198e+066 -6.89887371e+067
  -2.69056075e+069 -1.04931869e+071 -4.09234290e+072 -1.59601373e+074
  -6.22445355e+075 -2.42753688e+077 -9.46739385e+078 -3.69228360e+080
  -1.43999060e+082 -5.61596336e+083 -2.19022571e+085 -8.54188026e+086
  -3.33133330e+088]
 [-1.29921999e+090 -5.06695795e+091 -1.97611360e+093 -7.70684305e+094
  -3.00566879e+096 -1.17221083e+098 -4.57162223e+099 -1.78293267e+101
  -6.95343741e+102 -2.71184059e+104 -1.05761783e+106 -4.12470954e+107
  -1.60863672e+109 -6.27368320e+110 -2.44673645e+112 -9.54227215e+113
  -3.72148614e+115 -1.45137959e+117 -5.66038042e+118 -2.20754836e+120
  -8.60943862e+121 -3.35768106e+123 -1.30949561e+125 -5.10703289e+126
  -1.99174283e+128 -7.76779703e+129 -3.02944084e+131 -1.18148193e+133
  -4.60777952e+134]
 [-1.79703401e+136 -7.00843265e+137 -2.73328873e+139 -1.06598261e+141
  -4.15733216e+142 -1.62135954e+144 -6.32330222e+145 -2.46608787e+147
  -9.61774268e+148 -3.75091965e+150 -1.46285866e+152 -5.70514878e+153
  -2.22500802e+155 -8.67753129e+156 -3.38423720e+158 -1.31985251e+160
  -5.14742479e+161 -2.00749567e+163 -7.82923310e+164 -3.05340091e+166
  -1.19082636e+168 -4.64422278e+169 -1.81124689e+171 -7.06386286e+172
  -2.75490651e+174 -1.07441354e+176 -4.19021281e+177 -1.63418299e+179
  -6.37331368e+180]]
4
[[0.98659207 0.64692462 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]

In [40]:
dataframe_independent

,No,Sub-Districts,Districts,Area (square m),Built-Up Area (square) in Percentage (%),Population,Gross Population Density,Nett Population Density,Distance to Main Urban Center,GDP per Capita,...,Health Facility Units per Population,Ratio of Population to Labor Force(Rasio Penduduk Terkena Covid),Population of the Labor Force,Gross Economy Facility Density,Nett Economy Facility Density,Economy Facility Unit per Population(Unit Sarana Ekonomi per Penduduk),Labor Force Ratio (Non Primary /Primary),Number of Tourist Visitors,Number of Tourism Destination Units,Number of Shopping Center(Jumlah Mall)
2,1.0,BAMBANGLIPURO,Bantul,22.69,7.71,38517.00,1698.00,22009.714286,20.8,"14,178,168.62",...,0.00000,0.0000,18933.0,0.0935,0.053429,0.00006,0.3155,0.0,1.0,0.0
3,2.0,BANGUNTAPAN,Bantul,28.48,14.50,142.62,5008.00,34532.687651,7.5,"16,577,999.67",...,0.00000,0.0000,20343.0,0.0161,0.003898,0.00000,0.4294,46066.0,0.0,0.0
4,3.0,BANTUL,Bantul,21.96,7.74,63183.00,2877.00,37166.470588,13.4,"17,296,760.79",...,0.00000,0.0000,14177.0,0.0265,0.015588,0.00001,0.3987,604849.0,1.0,0.0
5,4.0,DLINGO,Bantul,55.87,2.17,36808.00,659.00,30419.834711,27.8,"10,824,463.84",...,0.00000,0.0006,24878.0,0.0225,0.018595,0.00003,0.9227,3253922.0,3.0,0.0
6,5.0,IMOGIRI,Bantul,54.49,4.39,58751.00,1078.00,24582.008368,17.4,"14,575,969.83",...,0.00000,0.0027,33864.0,0.0024,0.001004,0.00000,17.8690,48060.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,74.0,PRAMBANAN,Sleman,41.35,23.16,48395.00,1.17,5054.413669,20.4,"29,527,623.29",...,0.00000,0.0934,26260.0,0.2270,0.023708,0.00019,15.7510,4568127.0,7.0,0.0
76,75.0,SEYEGAN,Sleman,26.63,33.15,46902.00,1761.00,5312.868147,15.0,"23,828,246.67",...,0.00000,0.2467,27052.0,0.1495,0.016935,0.00008,16.3720,8193.0,0.0,0.0
77,76.0,SLEMAN,Sleman,31.32,35.09,67201.00,2146.00,6113.961825,14.6,"17,999,612.78",...,0.00001,0.2505,27651.0,0.3115,0.028340,0.00015,24.5200,20059.0,1.0,1.0
78,77.0,TEMPEL,Sleman,32.49,30.61,50599.00,1557.00,5087.627570,18.7,"55,684,802.96",...,0.00000,0.3488,57788.0,13.0130,1.308431,0.00836,373.1570,0.0,0.0,0.0
79,78.0,TURI,Sleman,43.09,19.56,34233.00,794.00,4061.817750,22.0,"21,173,205.96",...,0.00001,0.6478,26022.0,0.0068,0.000807,0.00001,51.5040,111892.0,0.0,0.0

In [41]:
dataframe_independent.iloc[0,3]

22.69

In [42]:
table = dataframe_independent
for j in range(4): 
    for i in range(29):
        table.iloc[j,i+3] = list_of_coefficient[j,i]
    # dataframe_independent.iloc[:,3] = list_of_coefficient[0][0]
# dataframe_independent.iloc[:,4] = list_of_coefficient[0][1]
# dataframe_independent.iloc[:,5] = list_of_coefficient[0][2]

In [43]:
table = table[:4]
table = table.drop('No',axis=1)
table = table.drop('Sub-Districts',axis=1)
table = table.drop('Districts',axis=1)

In [44]:
table.index = ['Days to First Case (DFC)', 'Case per 1000 (C1000) per 30 September 2020', 'Exponential Growth (G) per 10 December 2020', 'Exponential Growth per 1000 population (G1000) per 10 Desember 2020']
table

,Area (square m),Built-Up Area (square) in Percentage (%),Population,Gross Population Density,Nett Population Density,Distance to Main Urban Center,GDP per Capita,Rate of Economic Growth(Laju Pertumbuhan),Agricul-ture(Pertanian),Educational Level(Tingkat Pendidikan),...,Health Facility Units per Population,Ratio of Population to Labor Force(Rasio Penduduk Terkena Covid),Population of the Labor Force,Gross Economy Facility Density,Nett Economy Facility Density,Economy Facility Unit per Population(Unit Sarana Ekonomi per Penduduk),Labor Force Ratio (Non Primary /Primary),Number of Tourist Visitors,Number of Tourism Destination Units,Number of Shopping Center(Jumlah Mall)
Days to First Case (DFC),9.865921e-01,6.469246e-01,-1.080472e+01,-4.286927e+02,-1.621644e+04,-6.224396e+05,-24084041.048476,-9.355942e+08,-3.641677e+10,-1.418866e+12,...,-1.153887e+28,-4.500159e+29,-1.755061e+31,-6.844739e+32,-2.669448e+34,-1.041085e+36,-4.060230e+37,-1.583490e+39,-6.175610e+40,-2.408488e+42
Case per 1000 (C1000) per 30 September 2020,-9.393103e+43,-3.663310e+45,-1.428691e+47,-5.571895e+48,-2.173039e+50,-8.474852e+51,-3305192296622770805365926884071612315391926187...,-1.289025e+55,-5.027197e+56,-1.960607e+58,...,-1.596014e+74,-6.224454e+75,-2.427537e+77,-9.467394e+78,-3.692284e+80,-1.439991e+82,-5.615963e+83,-2.190226e+85,-8.541880e+86,-3.331333e+88
Exponential Growth (G) per 10 December 2020,-1.299220e+90,-5.066958e+91,-1.976114e+93,-7.706843e+94,-3.005669e+96,-1.172211e+98,-4571622227796182037932430123495542208574827033...,-1.782933e+101,-6.953437e+102,-2.711841e+104,...,-2.207548e+120,-8.609439e+121,-3.357681e+123,-1.309496e+125,-5.107033e+126,-1.991743e+128,-7.767797e+129,-3.029441e+131,-1.181482e+133,-4.607780e+134
Exponential Growth per 1000 population (G1000) per 10 Desember 2020,-1.797034e+136,-7.008433e+137,-2.733289e+139,-1.065983e+141,-4.157332e+142,-1.621360e+144,-6323302222182419958644513166917914940542174405...,-2.466088e+147,-9.617743e+148,-3.750920e+150,...,-3.053401e+166,-1.190826e+168,-4.644223e+169,-1.811247e+171,-7.063863e+172,-2.754907e+174,-1.074414e+176,-4.190213e+177,-1.634183e+179,-6.373314e+180

In [14]:
table.to_excel('hasilakhir.xlsx')

In [15]:
import dataframe_image as dfi
dfi.export(table,"mytable.png")

In [16]:
dfi.export(table,"mytable.png")
table.to_excel('hasilakhir.xlsx')

In [17]:
data_independent = dataframe_independent["Area (square m)"] //udah

NameError: name 'udah' is not defined

In [ ]:
x = data_independent.values
print(x) //udah

In [ ]:
df_dependent

In [ ]:
df_dependent.iloc[:,3] //udah

In [ ]:
y = dataframe_dependent.values //udah

In [ ]:
dataframe_dependent.shape

In [ ]:
n = dataframe_dependent.shape[0]
print(n)

In [ ]:
x

In [ ]:
plt.scatter(x,y)

In [ ]:
df = pd.DataFrame({"X" : x, "Y" : y})

In [ ]:
df

In [ ]:
df["rank_x"] = df["X"].rank()

In [ ]:
df.head(3)

In [ ]:
df["rank_x"].min()

In [ ]:
df["rank_x"].max()

In [ ]:
df["rank_y"] = df["Y"].rank()

In [ ]:
df = df.sort_values(by="rank_x")

In [ ]:
df

In [ ]:
total = df['rank_y'].diff().abs().sum()

In [ ]:
total

In [ ]:
coefficient =  1 - ((3*total) / (pow(n,2) - 1))

In [ ]:
coefficient