In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
"D:/pythonprojects/VariablesWeightPipik"
filename_ = "PDRB perkotaan 2010, LT, & PDD"
dataframe = pd.read_excel(r"D:/pythonprojects/VariablesWeightPipik/" + filename_ + ".xlsx")
# dependent = pd.read_excel(r"D:/pythonprojects/VariablesWeightPipik/dependent.xlsx")
# independent = pd.read_excel(r"D:/pythonprojects/VariablesWeightPipik/independent.xlsx")

In [ ]:
# independent = independent[2:]
# independent = independent.drop('Unnamed: 6',axis = 1)
# independent = independent.drop('Unnamed: 8',axis = 1)
# independent = independent.drop('Unnamed: 36',axis = 1)
# independent = independent.drop('Unnamed: 30',axis = 1)
# independent = independent.drop('Unnamed: 10',axis = 1)
# independent = independent.drop('Unnamed: 13',axis = 1)
# independent = independent.drop('Unnamed: 18',axis = 1)
# independent = independent

In [ ]:
df_independent

In [ ]:
# dataframe = dataframe.drop(list(dataframe)[7],axis=1)
# dataframe = dataframe.drop(list(dataframe)[7],axis=1)

In [3]:
dataframe.isna().sum() #50

No                                          0
Provinsi                                    0
Kota/Kabupaten                              0
Total PDRB Perkotaan 2010 (Juta)            0
Lahan Terbangun Perkotaan RBI 2010 (ha)     1
Penduduk Perkotaan 2010 (Jiwa)              0
Kepadatan Penduduk 2010 (Jiwa/Ha)          28
dtype: int64

In [4]:
dataframe = dataframe.dropna()
dataframe.isna().sum()

No                                         0
Provinsi                                   0
Kota/Kabupaten                             0
Total PDRB Perkotaan 2010 (Juta)           0
Lahan Terbangun Perkotaan RBI 2010 (ha)    0
Penduduk Perkotaan 2010 (Jiwa)             0
Kepadatan Penduduk 2010 (Jiwa/Ha)          0
dtype: int64

In [5]:
dataframe

,No,Provinsi,Kota/Kabupaten,Total PDRB Perkotaan 2010 (Juta),Lahan Terbangun Perkotaan RBI 2010 (ha),Penduduk Perkotaan 2010 (Jiwa),Kepadatan Penduduk 2010 (Jiwa/Ha)
0,1,PROVINSI JAWA TENGAH,Cilacap,67299331.32,9198.0,570632,62.038704
1,2,PROVINSI JAWA TENGAH,Banyumas,18226248.09,10503.0,807577,76.890127
2,3,PROVINSI JAWA TENGAH,Purbalingga,7001430.00,3109.0,264533,85.086201
3,4,PROVINSI JAWA TENGAH,Banjarnegara,5626173.33,2695.0,206975,76.799629
4,5,PROVINSI JAWA TENGAH,Kebumen,8225939.13,5862.0,310512,52.970317
...,...,...,...,...,...,...,...
509,510,PROVINSI NUSA TENGGARA BARAT,Bima,2496071.74,181.0,34304,189.524862
510,511,PROVINSI NUSA TENGGARA BARAT,Sumbawa Barat,1341135.64,94.0,33681,358.308511
511,512,PROVINSI NUSA TENGGARA BARAT,Lombok Utara,1367569.95,165.0,33492,202.981818
512,513,PROVINSI NUSA TENGGARA BARAT,Kota Mataram,7762031.32,2346.0,402843,171.714834
513,514,PROVINSI NUSA TENGGARA BARAT,Kota Bima,1540890.00,700.0,112124,160.177143

In [6]:
n_dependent_var = 1#: banyak independent variabel  
n_independent_var = 3#: banyak dependent variabel 
n_row = len(dataframe)  #banyak per kolom (banyak baris)

start_indexing_dependent_var = 3
start_indexing_independent_var = 4 

# df_dependent = dataframe.iloc[:,3]
# df_independent = dataframe.iloc[:,4:]

df_dependent = dataframe.iloc[:,start_indexing_dependent_var]
df_independent = dataframe.iloc[:,start_indexing_independent_var]

print(n_dependent_var)
print(n_independent_var)
print(n_row)

1
3
486

In [7]:
np.zeros(shape=(n_dependent_var,n_independent_var))

array([[0., 0., 0.]])

In [14]:
total_pembilang = 0
total_penyebut = 0 #inisialisasi variabel buat dipake nanti
list_of_coefficient = np.zeros(shape=(n_dependent_var,n_independent_var)) #buat container untuk ngestore nilai nilai weight (total ada 116 nilai weight)

for j in range(n_dependent_var):
    for i in range(n_independent_var):
        
        dataframe_independent_temp = 0
        dataframe_dependent_temp = 0
        
        #dataframe_independent_temp = dataframe.iloc[:,i+start_indexing_independent_var] #(ngambil nilai dataframe independent mulai dari area square dan iterating ke bawah)
        dataframe_independent_temp = dataframe.iloc[:,i+start_indexing_independent_var] #(ngambil nilai dataframe independent mulai dari area square dan iterating ke bawah)
        x = dataframe_independent_temp.values
        
        #dataframe_dependent_temp = dataframe.iloc[:,i+start_indexing_dependent_var] #(ngambil nilai dataframe dependent mulai dari area square dan iterating ke bawah)
        dataframe_dependent_temp = dataframe.iloc[:,start_indexing_dependent_var] #(ngambil nilai dataframe dependent mulai dari area square dan iterating ke bawah)
        y = dataframe_dependent_temp.values
        
        df = pd.DataFrame({"X" : x, "Y" : y}) #mbuat kolom baru dan sekalian ngeplotin nilainya setiap iterasi variabel independent terhadap
        #salah satu variabel bebas(29*4 kali)
        
        df["rank_x"] = df["X"].rank()
        df["rank_y"] = df["Y"].rank()
        df["rank_y_invert"] = df["Y"].rank(method = "max",axis = 0) #rumus dari youtube + jurnal yg disend pipik
        
        df = df.sort_values(by="rank_x")
#         total_pembilang = df['rank_y'].diff().abs().sum()
        
        for a in range(n_row-1):
            total_pembilang = total_pembilang + (df["rank_y"][a+1] - df["rank_y"][a])
        for e in range(n_row):
            total_penyebut = total_penyebut + df["rank_y_invert"][e] * (n_row - df["rank_y_invert"][e])
            
        total_pembilang = total_pembilang * n_row
        total_penyebut = total_penyebut * 2
        coefficient =  1 - ((total_pembilang) / total_penyebut )
        list_of_coefficient[j][i] = coefficient

print(total_pembilang)
print(total_penyebut)

-40144750362.0
267845130.0

In [13]:
print(list_of_coefficient)
print(len(list_of_coefficient))
print(np.where(list_of_coefficient > 0, list_of_coefficient, 0))

[[1.00443278 1.71958763 0.        ]]
1
[[1.00443278 1.71958763 0.        ]]

In [ ]:
dataframe

In [ ]:
table = dataframe
table = table[:n_dependent_var]
table = table.drop('No',axis=1)
table = table.drop('Provinsi ',axis=1)
table = table.drop(list(table)[0],axis=1) #kota kabupaten
list(table)

In [ ]:
table.index = [list(table)[1]]
table

In [ ]:
list(table)

In [ ]:
table = table.drop(list(table)[3],axis=1)
table = table.drop(list(table)[1],axis=1)
table = table.drop(list(table)[1],axis=1)
list(table)

In [ ]:
table.iloc[0,0] = list_of_coefficient

In [ ]:
table

In [ ]:
# for j in range(n_dependent_var): 
#     for i in range(n_independent_var):
#         table.iloc[j,start_indexing_independent_var] = list_of_coefficient[j,i]

In [ ]:
list(table)

In [ ]:
img_table = table.to_excel('PDRB Perkotaan 2010, LT, PDD XY2.xlsx')

In [ ]:
x = data_independent.values
print(x) //udah

In [ ]:
df_dependent

In [ ]:
df_dependent.iloc[:,3] //udah

In [ ]:
y = dataframe_dependent.values //udah

In [ ]:
dataframe_dependent.shape

In [ ]:
n = dataframe_dependent.shape[0]
print(n)

In [ ]:
x

In [ ]:
plt.scatter(x,y)

In [ ]:
df = pd.DataFrame({"X" : x, "Y" : y})

In [ ]:
df

In [ ]:
df["rank_x"] = df["X"].rank()

In [ ]:
df.head(3)

In [ ]:
df["rank_x"].min()

In [ ]:
df["rank_x"].max()

In [ ]:
df["rank_y"] = df["Y"].rank()

In [ ]:
df = df.sort_values(by="rank_x")

In [ ]:
df

In [ ]:
total = df['rank_y'].diff().abs().sum()

In [ ]:
total

In [ ]:
coefficient =  1 - ((3*total) / (pow(n,2) - 1))

In [ ]:
coefficient